{% extends "edc_dashboard/listboard.html" %}
{% load edc_base_extras %}



{% block listboard_table_header %}

<th>#</th>
<th>FACET Mother Consent</th>
<th>Subject Identifier</th>
<th>Age</th>
<th>User Created</th>
<th></th>
<th>Date Modified</th>
{% endblock listboard_table_header %}

{% block listboard_table_columns %}

<td>{{ result.subject_identifier }}</td>
<td>{% age_in_years result.object.dob %}yrs {{ result.object.dob|date:"SHORT_DATE_FORMAT" }}</td>
<td>{{ result.object.consent_datetime|date:"SHORT_DATE_FORMAT" }}</td>
<td>{{ result.user_created }}</td>
<td>{{ result.object.modified|date:"SHORT_DATETIME_FORMAT" }}</td>


{% endblock listboard_table_columns %}
