{% extends "edc_dashboard/listboard.html" %}
{% load edc_base_extras %}
{% load flourish_facet_extras %}


{% block extra-scripts %}
{{ block.super}}


<style>
  .modal-scrollable {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

</style>
<script>

    function callModal(subject_identifier){

        fetch(`/flourish_facet/events/${subject_identifier}/`)
            .then(res => res.json())
            .then(data =>{

            if (Object.keys(data.appt).length === 0 &&
            Object.keys(data.contact_entry).length === 0 )
            {
                document.getElementById('modalContent').innerHTML = '<p>No data available</p>';
            }
            else
            {
              let content = '';

              content += '<table style="padding: 10px;">';
                content += '<thead>';
                content += '<tr>';
                content += '<th>Date</th>';
                content += '<th>Study</th>';
                content += '<th>Type</th>';
                content += '<th>Called</th>';
                content += '<th>Outcome</th>';
                content += '</tr>';
                content += '</thead>';
                content += '<tbody>';

                // Add appointments data
                data.appt.forEach(appt => {
                    content += '<tr>';
                    content += `<td style="padding: 10px;">${appt.appt_datetime}</td>`;
                    content += `<td style="padding: 10px;">${appt.source}</td>`;
                    content += `<td style="padding: 10px;">${appt.appt_type}</td>`;
                    content += `<td style="padding: 10px;">${appt.appt_reason}</td>`;
                    content += '</tr>';
                });

                // Call entries data
                data.contact_entry.forEach(call_entry => {
                  content += '<tr>';
                  content += `<td style="padding: 10px;">${call_entry.report_datetime}</td>`;
                  content += `<td style="padding: 10px;">${call_entry.source}</td>`;
                  content += `<td style="padding: 10px;">${call_entry.contact_type}</td>`;
                  content += `<td style="padding: 10px;">${call_entry.status}</td>`;
                  content += `<td style="padding: 10px;">${call_entry.outcome}</td>`;
                  content += '</tr>';
              });

                content += '</tbody>';
                content += '</table>';

              document.getElementById('modalContent').innerHTML = content;

            }

            $('#callModal').modal('show');
            })
            .catch(error => console.error('Error fetching data:', error));
    }

</script>

{% endblock extra-scripts %}


{% block listboard_panel %}
<a id="facetscreening_add" title="add screening" class="btn btn-sm btn-default" role="button"
    href="{{facet_screening_add_url}}" <i class="fa fa-plus fa-sm"></i> Subject Screening
</a>
{% endblock listboard_panel %}


{% block listboard_table_header %}

<th>#</th>
<th>Flourish Consents</th>

<th>Subject Identifier</th>
<th>Child Age (Months)</th>
<th>User Created</th>
<th>Date Screened</th>
<th>Date Consented</th>
{% endblock listboard_table_header %}


{% block listboard_table_button_column %}

<td style="white-space: nowrap">
    <div class="btn-group">
        {% listboard_button "Mother Locator" result.locator_wrapper.href result.locator_obj %}
        {% listboard_button "FACET Screening" result.facet_screening_wrapper.href result.facet_screening_obj %}
        {% if result.facet_screening_obj and result.facet_screening_obj.is_eligible == True%}
        {% listboard_button "FACET Consent" result.facet_consent_wrapper.href result.facet_consent_obj %}
        {% if result.facet_consent_obj %}
        <a id="btn-subject-dashboard-{{result.subject_identifier}}" class="btn btn-primary btn-sm" role="button"
            title="Go to subject's dashboard" href="{% url facet_mother_dashboard_url result.subject_identifier %}">
            <i class="far fa-user-circle fa-sm"></i> Dashboard <i class="fa fa-share"></i></a>

        {% endif %}
        {% endif %}
        <a id="openModalButton" class="btn btn-info btn-sm" role="button"
        title="Call History" onclick="callModal('{{result.subject_identifier}}')" title="call-log">
        <i class="fa fa-eye"></i> Call History </i></a>
    </div>
</td>

 <!-- Modal -->
 <div class="modal fade" id="callModal" tabindex="-1" role="dialog" aria-labelledby="callModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-scrollable" role="document">
      <div class="modal-content">
        <button style="color: #CD0909; margin:15px" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: #CD0909" >&times;</span>
        </button>
          <div class="modal-header">
              <h5 class="modal-title" id="callModalLabel">Contact History</h5>

          </div>
          <div class="modal-body" style="max-height: 400px; overflow-y: auto;" id="modalContent">
              <!-- Content dynamically added here -->
          </div>
      </div>
  </div>
</div>
{% endblock %}


{% block listboard_table_columns %}

<td>{{ result.subject_identifier }}</td>
<td style="text-align: center;">{{ result.facet_child_age }}</td>


{% if result.facet_screening_obj %}
<td>{{ result.facet_screening_obj.user_created}}</td>
{% else %}
<td></td>
{% endif %}

{% if result.facet_screening_obj %}
<td>{{ result.facet_screening_obj.report_datetime|date:"SHORT_DATETIME_FORMAT" }}</td>
{% else %}
<td></td>
{% endif %}

{% if result.facet_consent_obj %}
<td>{{ result.facet_consent_obj.consent_datetime|date:"SHORT_DATETIME_FORMAT" }}</td>
{% else %}
<td></td>
{% endif %}




{% endblock listboard_table_columns %}
